@media(max-width:768px){
.menu-btn{
display:flex;
}

.desktop-nav{
display:none;
}

.navbar{
padding:14px 22px;
}

.sec:last-child{
flex-direction:column;
}

.footer{
flex-direction:column;
text-align:center;
}

.about-main,
.contact-main,
.main-content{
padding-left:22px;
padding-right:22px;
}
}